body {
    background-image: url("../images/golf.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{

    width: 100%;
    height: 100%;
    //background-image: url("../images/fall-golf-hero.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.begin{
    display: flex;
    flex-direction: column;
    margin: 75px auto;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
}
.begin div{
    font-size: 20px;
    margin: 20px;
}
.begin select{
    font-size: 16px;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}
span{
    font-size: 25px;
    color: #0A1A27;
}
.name div{
    font-size: 40px;
    color: forestgreen;
}
.card{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #0A1A27;
    margin: 0;
    padding: 0;
}
div{
    font-family: 'Roboto', sans-serif;
}
input{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
button{
    font-family: 'Roboto', sans-serif;
}
select{
    font-family: 'Roboto', sans-serif;
}
.column div{
    height: 36px;
    width: auto;
    border-bottom: 1px solid black;
}
.column div:first-child{
    background-color: #ff887a;
}
.column div:nth-child(2){
    background-color: #ffaf67;
}
.column div:nth-child(3){
    background-color: greenyellow;
}
.column div:nth-child(4){
    background-color: #96BFB6;
}
.column div:nth-child(5){
    background-color: #ffffff;
}
.column div:nth-child(6){
    background-color: #ffffff;
}
.column div:nth-child(7){
    background-color: #ffffff;
}
.column div:nth-child(8){
    background-color: #ffffff;
}
.courseName{
    opacity: 0.6;
}
.name{
    width: 700px;
    height: 100px;
    background-color: #fafafa;
    margin: 20px auto 40px auto;
    border-radius: 10px;
}
#inScore{
    font-weight: bold;
}
#outScore{
    font-weight: bold;
}
#totalScore{
    font-weight: bold;
}

#col0 div{
    width: 106px;
    height: 36px;
}
#col0 input{
    width: 100px;
    height: 30px;
}

#total3{
    width: 40px;
    height: 35px;
}
#total4{
    width: 40px;
    height: 35px;
}
#total5{
    width: 40px;
    height: 35px;
}
#total6{
    width: 40px;
    height: 36px;
}
#Out1 {
    width: 40px;
    height: 35px;
}
#Out2 {
    width: 40px;
    height: 35px;
}
#Out3 {
    width: 40px;
    height: 35px;
}
#Out4 {
    width: 40px;
    height: 36px;
}
#in4{
    width: 40px;
    height: 35px;
}
#in5{
    width: 40px;
    height: 35px;
}
#in6{
    width: 40px;
    height: 35px;
}
#in3{
    width: 40px;
    height: 36px;
}
.card div input{
    width: 30px;
    height: 30px;
    margin: 0;
    /*border-bottom: 1px solid black;*/
}
.par{
    width: 30px;
    height: 30px;
    /*background-color: aqua;*/
}
.numberModal{
    display: none;
}