
.card{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #0A1A27;
}

.column div{
    height: 30px;
    width: 30px;
    border-bottom: 1px solid black;
}
.column div:first-child{
    background-color: yellow;
}
.column div:nth-child(2){
    background-color: orange;
}
.column div:nth-child(3){
    background-color: greenyellow;
}
#col0 div:nth-child(4){
    height: 33px;
}
#col0 div:nth-child(5){
    height: 33px;
}
#col0 div:nth-child(6){
    height: 33px;
}
#col0 div:nth-child(7){
    height: 33px;
}

#col0 div{
    width: 100px;
    height: 30px;
}
#inScore{
    width: 40px;
}
#outScore{
    width: 40px;
}
#totalScore{
    width: 40px;
}
.card div input{
    width: 30px;
    height: 28px;
    margin: 0;
    /*border-bottom: 1px solid black;*/
}
.par{
    width: 30px;
    height: 30px;
    /*background-color: aqua;*/
}